*{
  padding: 0;
  margin: 0;
}
body {
  cursor:crosshair;
}


/* HEADER*/

#header{
  padding: 30px 60px 10px;
}
#header .navbar-collapse{
  display: flex;
  justify-content: center;  
  align-items: center;
}
#header .navbar-nav a{
  font-size: 25px;
  font-weight: 600;
}
#header .navbar-nav{
  gap: 50px;
}
#header .navbar-nav a:hover{
  color: purple;
}

/* HOME */

/* Home Banner */

#Home{
  overflow: hidden ;
}

#Home .banner-body .swiper {
  height: 800px !important;
}
/* rgba(128,0,128,.6) */

#Home .banner-body  .swiper-slide:nth-child(1){
  background:linear-gradient(rgba(128,0,128,.6),rgba(128,0,128,.6)), url(./asses/image/IMG_1211.JPG);
  padding: 10rem 0 0 7rem;
  font-size: 18px;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  text-align: left;
}
#Home .banner-body  .swiper-slide:nth-child(2){
  background:linear-gradient(rgba(128,0,128,.6),rgba(128,0,128,.6)), url(./asses/image/jeet-dhanoa-tGHkC5ntUGc-unsplash.jpg) !important;
  font-size: 18px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Home .banner-body  .swiper-slide:nth-child(3){
  background:linear-gradient(rgba(128,0,128,.6),rgba(128,0,128,.6)), url(./asses/image/woman-1283009_1920.jpg) !important;
  font-size: 18px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: white;
  width: 100%;
  padding: 10rem 7rem 0 0rem;
  text-align: right;
}

#Home .banner-body .swiper h1{
  font-size: 150px;
}

/* Home servce */

#Home .service{
  margin-top: 14rem;
}



#Home .service .card{
  border: 3px solid white ;
  padding-top: 6rem;
}

#Home .service .card:hover{
  border: 3px solid purple;
}

#Home .service .card:hover span{
  opacity: 1;
  color: purple;
  transition: .7s;
}

#Home .service .card span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 200px;
  text-align: center;
  opacity: .1;
  line-height: 0;
}

#Home .service .service-details .number{
 font-size: 2rem;
}

#Home .service .card .card-body{
  text-align: center;
  padding: 0 30px;
}
#Home .service .card .card-body h1{
  font-size: 70px;
}

#Home .service .service-details{
  font-size: 22px;
  margin-top: -8rem;
}
#Home .service .service-details h2{
  font-weight: 600;
  font-size: 2.3rem;
}

/* Home-video */

#Home .Home-video{
  padding: 0 50px;
  margin: 8.5rem 0px 12rem;
}

/* vision */
#Home .Vision{
  overflow: hidden;
}

#Home .Vision span{
  transform: translateX(50px);
  margin-top: -60px;
  width: 100px;
}

#Home .Vision h2{
  font-size:60px ;
  font-weight: 700;
  color: black;
  letter-spacing: 10px;
}

#Home .Vision img{
  width: 75rem;
  z-index: 1;
}

#Home .Vision .img-div{
  height: 700px;
  overflow: hidden;
}
#Home .Vision p{
  font-size: 20px;
}

/* Home about */

#Home .about .swiper {
  width: 100%;
  height: 600px;
  margin-top: 15rem;
}

#Home .about .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#Home .about .swiper-slide h4{
    font-size: 40px;
    line-height: 1.32em;
    text-transform: uppercase;
    font-weight: 645;
}
#Home .about .swiper-slide span{
    font-size: 25px;
    line-height: 1.65em;
    color: #7A7A7A;
}
#Home .about .swiper-pagination-bullet-active{
  background: black;
}
#Home .about .swiper-pagination-bullet{
  height: 11px;
  width: 10px;
}

#Home .about svg {
  fill: none;
  stroke: black;
  width: 290px;
  height: auto;
  position: absolute;
  margin:10rem 0 0 60rem;
  transform: translateX(-50%);
  opacity: .14;
}

/* home pipiline */

#Home .Pipeline{
  background-color: #F8F8F8;
  text-align: right;
}

#Home .Pipeline img{
  width: 1000px;
}
#Home .Pipeline h2{
  font-size:70px ;
  font-weight: 700;
  color: black;
  letter-spacing: 10px;
}
#Home .Pipeline p{
  font-size: 24px;
  line-height: 1.65em;
}
#Home .Pipeline  .btn{
  padding: 16px 60px;
  font-size: 25px;
  margin-top: 40px;
  font-weight: 600;
  border-radius: 0;
  border: 2px solid black;
}
#Home .Pipeline  .btn:hover{
 background: black;
 color: white;
}

#Home .Pipeline span{
   font-size: 250px;
   font-weight: 700;
   opacity: .1;
   position: absolute;
   letter-spacing: 20px; 
}

/* SCROLL TOP */

#ScrollTop{
  position: fixed;
  right: 8rem;
  bottom: 1.5rem;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  display: block;
  z-index: 1040;
}
#active-ScrollTop{
  display:none
}
.unactive-progress{
  display:block
}
#ScrollTop .qodef-m-centred-icon{
  border: 3px solid black;
  border-radius: 100%;
  padding: 20px;
}
#ScrollTop .qodef-m-centred-icon:hover{
 background-color: black;
}
#ScrollTop .qodef-m-centred-icon:hover #ScrollTop svg{
  fill: white !important;
 }
#ScrollTop svg{
  transform: rotate(-90deg);
}

/* FOOTER */
footer{
  padding: 8rem 10rem 0; 
  color: white;
  background: purple;
  margin-top: 10rem;
 }
 footer .footer_link{
   text-decoration: none;
   color: white;
 }
 footer .footer_link:hover{
   color: white;
 }
 footer .btn{
  padding: 5px 30px;
  font-size: 25px;
  margin-top: 40px;
  font-weight: 600;
  border-radius: 0;
  border: 2px solid black;
  border: none;
  color: purple;
 }
 footer  .btn:hover{
  background: black;
  color: white;
 }

 @media only screen and (max-width: 1440px){

  #Home .Vision img{
    width: 52rem;
  }
  
  #Home .pipline-img{
    width: 700px !important;
    margin-right: 20rem !important;
  }
  #Home .pipeline-content{
    padding: 0 2rem 0 1rem !important;
  }
  #Home .about svg {
    margin:7rem 0 0 45rem;
  }
  #Home .about .swiper {
    margin-top: 13rem;
  }
  #Home .Vision span,#Home .Pipeline span{
    font-size: 200px !important;
  }
  #Home .about .swiper-slide h4{
    font-size: 35px;
    line-height: 1.32em;
    font-weight: 645;
}
}

@media only screen and (max-width: 1024px){
  #header .navbar-nav{
    gap: 15px ;
  }
  #header .navbar-nav a{
    font-size: 20px
  }
  #Home .Vision span,#Home .Pipeline span{
    font-size: 150px !important;
  }
  #Home .Vision img{
    max-height: 500px;
    max-width: 700px;
  }
  #Home .banner-body .swiper h1{
    font-size: 100px;
  }
  #Home .Vision h2,#Home .Pipeline h2{
    font-size:45px ;
    line-height: 1;
  }
  #Home .pipline-img{
    width: 500px !important;
    margin-right: 20rem !important;
  }
  #Home .about svg {
    margin:1rem 0 0 33rem;
  }
  #Home .about .swiper {
    margin-top: 0rem;
  }
  #Home .Vision p{
    padding: 0 10px 0 0 !important;
  }
  footer{
    padding: 8rem 1rem 0; 
    margin-top: 10rem;
   }
   #header  .navbar-brand img{
     width: 150px !important;
   }
   #Home .service .card span{
    font-size: 150px;
   }
   #Home .service .service-details h2{
    font-weight: 500;
    font-size: 2rem;
  }
}
