*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor:crosshair;
}


/* HEADER*/

#header{
  padding: 0 60px;
  margin-top: 35px;
}
#header .navbar-collapse{
  display: flex;
  justify-content: center;  
  align-items: center;
}
#header .navbar-nav a{
  font-size: 25px
}
#header .navbar-nav .a{
  margin-left: 50px;
}
#header .navbar-nav a:hover{
  color: purple;
}

/* HOME */

/* Banner */

#Home .Banner {
  text-align: left;
  font-size: 18px;
  height: 700px !important;
  background:linear-gradient(rgba(128,0,128,.6),rgba(128,0,128,.6)), url(./asses/image/doug-linstedt-jEEYZsaxbH4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100% !important;
  position: fixed;
  color: white;
  padding: 10rem 0 0 7rem;
}

#Home .Banner h1{
  font-size: 150px;
}
