*{
  padding: 0;
  margin: 0;
}
body {
  cursor:crosshair;
}


/* HEADER*/

#header{
  padding: 0 60px;
  margin-top: 35px;
}
#header .navbar-collapse{
  display: flex;
  justify-content: center;  
  align-items: center;
}
#header .navbar-nav a{
  font-size: 25px
}
#header .navbar-nav .a{
  margin-left: 50px;
}
#header .navbar-nav a:hover{
  color: purple;
}

/* HOME */

/* Home Banner */

#Home{
  overflow: hidden;
  height: 100%;
}

#Home .Banner {
  text-align: left;
  font-size: 18px;
  height: 700px !important;
  background:linear-gradient(rgba(128,0,128,.6),rgba(128,0,128,.6)), url(./asses/image/doug-linstedt-jEEYZsaxbH4-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100% !important;
  color: white;
  padding: 10rem 0 0 7rem;
}

#Home .Banner h1{
  font-size: 150px;
}

/* Home servce */

#Home .service{
  margin-top: 14rem;
}

#Home .service .card{
  border: none ;
}

#Home .service .card span{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 200px;
  text-align: center;
  opacity: .1;
  line-height: 0;
}

#Home .service .service-details .number{
 font-size: 2rem;
}

#Home .service .card .card-body{
  text-align: center;
  padding: 0 30px;
}
#Home .service .card .card-body h1{
  font-size: 70px;
}

#Home .service .service-details{
  font-size: 22px;
  margin-top: -8rem;
}
#Home .service .service-details h2{
  font-weight: 600;
  font-size: 2.3rem;
}